<launch>
  <arg name="rviz" default="true"/>
  <arg name="run_id" default="$(optenv FAST_CALIB_RUN_ID manual)"/>
  <arg name="scene_id" default="$(optenv FAST_CALIB_SCENE_ID scene_01)"/>
  <arg name="result_root" default="/home/zcy/calibrationdata/sensor_suite/fast_calib/livox_horizon_d455"/>
  <arg name="data_dir" default="$(arg result_root)/$(arg run_id)/$(arg scene_id)"/>
  <arg name="bag_path" default="$(arg data_dir)/input.bag"/>
  <arg name="image_path" default="$(arg data_dir)/image.png"/>
  <arg name="output_path" default="$(arg result_root)/$(arg run_id)/output"/>
  <rosparam file="$(find fast_calib)/config/sensor_suite_livox_horizon_d455.yaml" command="load" subst_value="true"/>
  <param name="bag_path" value="$(arg bag_path)"/>
  <param name="image_path" value="$(arg image_path)"/>
  <param name="output_path" value="$(arg output_path)"/>
  <param name="scene_id" value="$(arg scene_id)"/>
  <node pkg="fast_calib" type="fast_calib" name="fast_calib_livox_horizon_d455" output="screen"/>
  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="fast_calib_rviz" args="-d $(find fast_calib)/rviz_cfg/fast_livo2.rviz"/>
  </group>
</launch>
